# common
# virtual environment
.tool-versions

# for the IDE
.vscode/
.idea/

# for the macbook
.DS_Store

# build outputs and dependencies
build/
bin/
out/
target/

# logs and temporary files
*.log
*.tmp

# package-lock or pip lock files (optional, based on your tools)
package-lock.json
yarn.lock